/*------------------------

COLOR PALETTE

White #F2F2F2
Light blue #6ACED8
Yellow #F1B902
Dark Pink #ED4667
Orange #FF760C
Dark Green #003231

------------------------*/

/* GLOBAL STYLES */

/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/

html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

html, body {
    height:100%;
    width: auto;
  }

body {
    background-color: #F2F2F2;
    color: #003231;
    margin: 0;
    font-family: new-farm, sans-serif;
    font-weight: 400;
    font-style: normal;
}

header::before {
    background: url(../images/backgroundimage.jpg)  bottom;
    background-size: cover;
    content:"";
    display: block;
    height: 500px;

}

.resume-section {
    margin-bottom: 50px;
}

.resume-section h2{
    border-bottom: 2px dashed #F1B902;
}

.content-wrapper {
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
}

.intro-wrapper{
    margin: 0 auto;
    padding: 50px;
    max-width: 900px;
}

.btn { 
    background: #ED4667;
    color: #F2F2F2;
    text-decoration: none;
}

.download-link {
    position:fixed;
    top: 5px;
    left: 5px;
}

/* TYPE */
h1 {
    font-family: marvin-round, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    color: #ED4667;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h2 {
    font-family: marvin-round, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}


/* links */
a {
    color: #FF760C;
}

a:hover {
    color: #F2F2F2
    text-decoration: none;
}


/*------------------------

PROJECT SECTION

------------------------*/
.project-item {
    display: flow-root;
    margin: 30px 0;

}

.project-item img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    float: left;
    margin-right: 20px;
}

/*------------------------

WORK SECTION

------------------------*/
.work-item {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 20px;
}
    
/*------------------------

FOOTER

------------------------*/

footer {
    background-color: #F1B902;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.socials { 
    list-style-type: none;
    padding: 0;

}
.socials li{
    display: inline-block;
    margin-left:10px;

}
.socials img {
    width: 32px;

}
.socials img:hover { 
    opacity: 0.5;
}